.footer {
    background-color: #cf9c10;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.designby{
    color: black;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}
.footername{
    
    font-weight: 700;
    margin-left: 0px;
}
.fa-instagram{
 margin: 10px;
 font-size: 30px;
 font-weight: 600;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(0, 0, 0);
}
.fa-linkedin{
 margin: 10px;
 font-size: 30px;
 font-weight: 600;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(0, 0, 0);
}
.fa-linkedin:hover{
    transform: scale(1.07);
}