@import url("https://fonts.googleapis.com/css2?family=Chango&family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Pushster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Vujahday+Script&display=swap");

.main_name {
  font-size: 60px;
  font-weight: 600;
  /* text-shadow: 2px 3px 42px rgba(86, 212, 243, 0.158); */
  letter-spacing: 4px;

  background: -webkit-linear-gradient(
    115deg,
    #370617 5%,
    #6a040f 17%,
    #9d0208 29%,
    #d00000 44%,
    #dc2f02 66%,
    #e85d04 83%,
    #f48c06 96%,
    #faa307 100%,
    #ffba08 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Pushster", "cursive";
  -webkit-text-fill-color: transparent;
}

.home_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 5%,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0.5) 75%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(main_img2.jpg);
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
}
.contact_wrapper {
  padding-top: 40px;
}
.contact_heading {
  background-color: rgba(0, 0, 0, 0);
}


.main_pera {
  color: #bfd6ec;
  text-shadow: 2px 3px 42px rgba(123, 194, 206, 0.658);
  margin-top: 6px;
  font-weight: 500;
  font-size: 17px;
}
.tag {
  color: #b8a644;
  font-weight: 500;
  /* font-size: 30px; */
}
.featured {
  width: 100%;
  min-height: 50vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 40px;
  color: white;
  font-family: "Lato", sans-serif;
}
.feature_heading {
  color: #b8a644;
  text-transform: uppercase;
  font-weight: 500;
}

.release {
  margin-top: 10px;
  font-weight: 200;
  font-size: 30px;
}
@media only screen and (min-width: 550px) and (max-width: 960px) {
  .home_main {
    height: 65vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.051) 25%,
        rgba(0, 0, 0, 0.291) 75%,
        rgba(0, 0, 0, 0.945) 100%
      ),
      url(main_img2.jpg);
    background-size: cover;
    background-position: center;
  }
  .main_heading {
    font-size: 50px;
  }
  .main_pera {
    font-size: 13px;
  }
}

@media only screen and (max-width: 550px) {
  .home_main {
    height: 50vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.051) 25%,
        rgba(0, 0, 0, 0.291) 75%,
        rgba(0, 0, 0, 0.945) 100%
      ),
      url(wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
  }
  .main_heading {
    font-size: 42px;
  }
  .main_pera {
    font-size: 10px;
  }
}

.newsongswrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.seemore {
  background-color: rgba(255, 0, 0, 0);
  padding: 5px 15px;
  border: 2px solid #b8a644;
  border-radius: 1px;
}
.seemore:hover {
  border: 2px solid #d4b608;
  box-shadow: 0px 0px 40px 10px rgba(238, 255, 3, 0.192);
}
